{% extends "base.html.j2" %}
{% block content %}
  <card-back>
    <img class="image" src="{{ component.image }}" style="object-fit: cover; object-position: {{ component.image_position }};" />
  </card-back>
{% endblock %}
